.header-container{
      background:#FFA630;
      margin: 0;
      padding: 0;
      height: 56px;
      display: flex;
      align-items: center;
      padding-left: 12px;
      color: white;
}
.app-title{
      font-size: 1.5em;
}